 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
}

body, html {
    height: 100%;
    overflow: hidden;
}

.bg-video-wrapper {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    background: url('assets/vecteezy_white-neon-cubic-frame-waves-background-vj-loop-in-4k_52192939.mp4') center/cover no-repeat;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    gap: 30px;
    text-align: center;
    height: 100vh;
}

.glow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 12px 24px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    border: 2px solid white;
    font-size: x-large;
}

.glow-btn:hover {
    background-color: white;  
    color: black;           
    box-shadow: 0 0 20px white, 0 0 30px white; 
    transform: scale(1.4);
}

.music-btn{
    border-radius: 50%;
    border-color: black;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 40px;
}
