/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body, html {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;   
    align-items: center;      
    background: #f5f5f5; 
}

input {
    padding: 10px;
    margin: 8px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 10px;
    width: 100%;
    background: #4a7dff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.container {
    background-color: azure;
    padding: 75px 80px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 550px; 
    gap: 10px;
} */

/* .container {
 
  width: 95%; 
  max-width: 450px;  
  
  padding: 25px 30px;


  background: linear-gradient(135deg,pink, deeppink, hotpink, mediumpurple); 
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;

  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.35);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {

  background-image: url("../assets/ZenitsuWallpaper.jpeg");
  background-repeat: no-repeat;
  background-size: cover;   
  background-position: center center; 
  height: 100vh; 
  margin: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
  
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.container {
  width: 40%;
  height: 70vh;
  padding: 25px 30px;

  
  background: rgba(255, 105, 180, 0.4); 
  background: linear-gradient(135deg, rgba(255, 105, 180, 0.4), rgba(255, 20, 147, 0.4), rgba(255, 105, 180, 0.4), rgba(186, 85, 211, 0.4));
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;

  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
  
  
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  
  border: 1px solid rgba(255, 255, 255, 0.2); 
}
h1 {
  color: white;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 600;
}
h2 {
  color: white;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.35);
  background: rgba(255,255,255,0.15);
  color: white;
  gap: 10px;
  margin-top: 55px;
  
}

input::placeholder {
  /* color: rgba(255,255,255,0.75); */
  color: black;
  font-size: medium;
  
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, hotpink, deeppink);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  margin-top: 30px;
}

button:hover {
  background: linear-gradient(135deg, lavender, mediumpurple, hotpink, pink);
}

p, a {
  text-align: center;
  color: white;
  font-size: 14px;
}

a {
  color: blue;
  text-decoration: underline;
}
